@using Microsoft.AspNetCore.Mvc.Rendering
@model WebSite.ViewModels.ErrorViewModel

<h1>Error</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    <strong>Request ID:</strong> <code>@Model.RequestId</code><br />
    <br />
    <strong>Description:</strong> <code>@Model.Description</code><br />
</p>