@{
    Layout = "_GeneralLayout";
}

@section head {
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://127fc3e2e552.blob.core.windows.net/devdigest/build2018.png" />
    <meta property="og:description" content="Microsoft Build is an annual conference event held by Microsoft, aimed towards  software engineers and web developers using Windows, Windows Phone, Microsoft Azure and other Microsoft technologies." />
    
    <meta name="description" content="Microsoft Build is an annual conference event held by Microsoft, aimed towards  software engineers and web developers using Windows, Windows Phone, Microsoft Azure and other Microsoft technologies." />
}

<div class="row">
    <div class="col-md-6">
        <h1>@ViewData["Title"]</h1>
        

        <h2>#about</h2>
        <div style="text-align: justify;">
            <strong>//build/</strong> is an annual conference event held by Microsoft, aimed towards
            software engineers and web developers.<br/>
            The 2019 Build conference is being held at the Washington State Convention Center in Downtown Seattle,
            Washington May 6 to May 8, 2019.<br/>
        </div>
        <div style="font-size: 0.8em">Source: <a href="https://en.wikipedia.org/wiki/Build_(developer_conference)#2018">Wikipedia</a></div>
    </div>
    
    <div class="col-md-6">
       
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br />
        <br />
        <a class="btn-lg btn-success" href="https://www.microsoft.com/en-us/build">
            Go to conferece website
            <i class="glyphicon glyphicon-log-in"></i>
        </a>
    </div>
</div>
