@{
    Layout = "_GeneralLayout";
}

@section head {
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://127fc3e2e552.blob.core.windows.net/devdigest/build2018.png" />
    <meta property="og:description" content="Microsoft Build is an annual conference event held by Microsoft, aimed towards  software engineers and web developers using Windows, Windows Phone, Microsoft Azure and other Microsoft technologies." />
    
    <meta name="description" content="Microsoft Build is an annual conference event held by Microsoft, aimed towards  software engineers and web developers using Windows, Windows Phone, Microsoft Azure and other Microsoft technologies." />
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <h2>#video</h2>
        
        
        <div class="bs-example">
            <ul class="nav nav-tabs">
                <li><a data-toggle="tab" href="#sectionA">Day 1</a></li>
                <li class="active"><a data-toggle="tab" href="#sectionB">Day 2</a></li>
            </ul>
            <div class="tab-content">
                <div id="sectionA" class="tab-pane fade in active">
                    
                    <iframe
                        width="100%"
                        height="315"
                        src="https://www.youtube.com/embed/rd0Rd8w3FZ0"
                        frameborder="0"
                        allow="autoplay; encrypted-media"
                        allowfullscreen>            
                    </iframe>
                    
                </div>
                <div id="sectionB" class="tab-pane fade">
                    
                    <iframe
                        width="100%"
                        height="315"
                        src="https://www.youtube.com/embed/ojZioTg5RUk"
                        frameborder="0"
                        allow="autoplay; encrypted-media"
                        allowfullscreen>
                    </iframe>

                </div>
            </div>
        </div>
        
        <h2>#about</h2>
        <div style="text-align: justify;">
            <strong>//build/</strong> is an annual conference event held by Microsoft, aimed towards 
            software engineers and web developers using Windows, Windows Phone, Microsoft Azure and other Microsoft 
            technologies.<br />
            The 2018 Build conference is being held at the Washington State Convention Center in Downtown Seattle, 
            Washington May 7 to May 9, 2018.<br />
        </div>
        <div style="font-size: 0.8em">Source: <a href="https://en.wikipedia.org/wiki/Build_(developer_conference)#2018">Wikipedia</a></div>
    </div>
    <div class="col-md-6">
        <a class="twitter-timeline" 
           href="https://twitter.com/hashtag/build2018" 
           data-height="600"
           data-widget-id="993551050207612928">#build2018 Tweets</a> 
        <script>
            !function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");
        </script>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br />
        <br />
        <a class="btn-lg btn-success" href="https://developer.microsoft.com/en-us/events/build">
            Go to conferece website
            <i class="glyphicon glyphicon-log-in"></i>
        </a>
    </div>
</div>
