@{
    Layout = "_GeneralLayout";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <a href="https://registration.developerdays.pl">
            <img class="img-responsive" src="/images/banners/cloud_developerdays_poland_2018_3.jpg"/>
        </a>
    </div>
    <div class="col-md-6"></div>
</div>

<div class="row" style="text-align: justify">
    <div class="col-md-12">
        
        <br/>
        <p>
            Cloud Developerdays – conference on cloud software development for programmers and architects.
        </p>

        <p>
            On May 28-29, 2018, the first edition of the CLOUD DEVELOPERDAYS conference will take place at the EXPO
            Krakow International Exhibition and Congress Center. The event is dedicated entirely to programmers and
            architects creating software implemented or integrated with cloud platforms such as Microsoft Azure, Google
            Cloud, and Amazon Web Services.
        </p>
        <p>
            Cloud DeveloperDays is a new conference for the software developers. Participants from around Europe will
            meet to listen to the best industry speakers during two intense days! The conference will cover topics
            related to platforms, technologies, tools and practical problems encountered by software development teams
            working with the cloud. Organizers prepared something special for attendees – „Ask the Expert Zone” for
            40 people, where participants will have opportunity to talk about problems in Microsoft Azure. Event
            powered by Strategic Sponsor - Microsoft Poland.
        </p>

        <p>
            Based on our experience in organizing other conferences, we know how important the right choice of speakers
            is. We attach great importance to ensuring that each of them is an authority in their field and that they
            provide as much knowledge as possible to the participants of the meeting. For Cloud DeveloperDays we have
            invited, for example, Seth Vargo, Developer Advocate at Google, Dror Helper, Senior Consultant & Architect
            of CodeValue, Alex Mang, Microsoft Azure MVP or Stefano Tempesta, Microsoft MVP. There will also be several
            Polish specialists. Cloud Developer Days are two very intense days, during which each participant will find
            something for themselves. Apart from the technical sessions, we are also planning a networking event during
            which you will be able to inquire about particular issues, establish contacts and exchange experiences.
        </p>

        <p>
            The organizer of the event is DATA MASTER, organizer of many other conferences in the IT industry, such as
            .NET DeveloperDays or JOIN! DB Conference. Like previous events, also Cloud DeveloperDays promises to be a
            meeting organized to the highest standards. Some of the speakers and sessions are already known. The
            organizers also encourage you to submit and send your session suggestions – the Call For Papers is still
            open at <a href="http://cfp.developerdays.pl/">cfp.developerdays.pl</a>.
        </p>

        <p>
            The official language of the event is English and the participation in the conference is paid, with tickets
            are available on the conference website. Until April 30th you can buy them at Normal prices.
        </p>

        <p>
            More information, agenda and tickets:
            <ul>
                <li><a href="http://cloud.developerdays.pl">cloud.developerdays.pl</a></li>
                <li><a href="https://www.facebook.com/DeveloperDays">facebook.com/DeveloperDays</a></li>
            </ul>
        </p>

        <br/>
        <a class="btn btn-success" href="http://cloud.developerdays.pl/">Register today!</a>
        <br/>
        <br/>
    </div>

</div>