<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-8">
        <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/26804441_584652555203371_5742271135022082853_n.jpg?oh=6dd4e26a84aaf9b735db6413947c9015&oe=5AF49877" class="img-responsive" />
    </div>
    <div class="col-md-4">        
    </div>
</div>
<div class="row">
    <div class="col-md-12">        
        What is Developex Tech Club? These is a small monthly meetups on various technical topics. Especially for you we select the best specialists and invite them to share their knowledge and experience.<br />
        <br />
        You can find all latest news and announces at official <a href="https://www.facebook.com/Developex-Tech-Club-584649545203672/">Facebook Page</a>.<br />
    </div>

</div>