
<h1>@ViewData["Title"]</h1>


<div class="row" style="text-align: justify">
    <div class="col-md-12">
        <img class="img-responsive" src="/images/banners/MSTechSummit_Warsaw.png"/>
        <br/>
        <p>
            The cloud is changing expectations – and transforming the way we live and work. Whether you’re developing
            innovative apps or delivering optimized solutions, Microsoft Tech Summit can help you evolve your skills,
            deepen your expertise, and grow your career.
        </p>
        
        <p>
            <iframe 
                width="100%"
                height="415"
                src="https://www.youtube.com/embed/irNcLvhMmqM?rel=0"
                frameborder="0"
                allow="autoplay; encrypted-media"
                allowfullscreen>
            </iframe>
        </p>

        <p>
            Discover the latest trends, tools, and product roadmaps at more than 80 sessions covering a range of topics
            across Azure and Microsoft 365, which includes Windows 10, Office 365, and Enterprise Mobility + Security.
            From beginner sessions that will help you develop core cloud skills, to advanced, 400-level training that 
            will take your expertise to the next level, there is something for everyone.
        </p>

        <p>
            Connect with experts at Microsoft Tech Summit in Warsaw, a free technical learning event for IT professionals
            and developers. Choose from lots of learning opportunities to build your cloud skills, including 80+ sessions,
            keynotes, hands-on labs, and more.
        </p>
        <br />
        <a class="btn btn-success" href="https://www.microsoft.com/pl-pl/techsummit/warsaw">Register today!</a>
        <br />
        <br />
    </div>
</div>