@model Uri

<section class="col-md-12 comments">
    <script 
        async src="https://comments.app/js/widget.js?2" 
        data-comments-app-website="nr6tP4p1" 
        data-limit="5" data-page-id="@Model.ToString()" 
        data-color="662079" 
        data-dislikes="1" 
        data-outlined="1">    
    </script>
</section>

