@using WebSite.ViewModels
@{
    Layout = "_GeneralLayout";
    var vacancies = ViewBag.Vacancies as IList<VacancyViewModel> ?? new List<VacancyViewModel>();
}

@section head{
    @await RenderSectionAsync("head",  required: false)
}

@section top{
    <div class="container">
        <div class="row">
            <div class="col-md-12">     
                <a href="/covid" class="green-info">
                    <img alt="coronavirus" src="https://pixabay.com/images/download/corona-5024649_640.png" height="50px">
                    Read latest COVID-19 coverage
                 </a>
             </div>
         </div>
     </div>
    
    @await RenderSectionAsync("top",  required: false)
}

@section scripts{
    @await RenderSectionAsync("scripts", required: false)
}

<div class="row">
    <div class="col-md-8">
        @RenderBody()
    </div>
    <div class="col-md-4">
    
        <div class="link-fb social-link">
            <a href="https://www.facebook.com/groups/dncuug">
                <span class="fa fa-fw fa-facebook"></span> We on Facebook
            </a>
        </div>
        
        <div class="link-twitter social-link">
            <a href="https://twitter.com/devdigest_today">
                <span class="fa fa-fw fa-twitter"></span> We on Twitter
            </a>
        </div>
        
        <div class="link-github social-link">
            <a href="https://github.com/dncuug">
                <span class="fa fa-fw fa-github"></span> We on GitHub
            </a>
        </div>

        <div class="promo">
            <a target="_mssbuild" href="https://docs.microsoft.com/en-us/learn/tv/">
                <img alt="Microsoft Learn TV" src="/images/banners/microsoft-learn-tv.jpg" />
            </a>
        </div>

        <div class="promo">
            <a target="_devdays" href="https://net.developerdays.pl">
                <img alt=".NET DEVELOPERDAYS 2020" src="/images/banners/developersydays2020.jpg" />
            </a>
        </div>
    
        <div class="ad">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- right side ad -->
            <ins class="adsbygoogle"
                 style="display: block"
                 data-ad-client="ca-pub-9437162291368173"
                 data-ad-slot="5581239879"
                 data-ad-format="auto">
            </ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    
        @if (vacancies.Any())
        {
            <div class="vacancies">
                <h3>
                    <a href="/vacancies/1">Hot Vacancies</a>
                </h3>
                @foreach (var v in vacancies)
                {
                    @await Html.PartialAsync("_VacancySmallPreview", v)
                }
            </div>
        }
    </div>
</div>
