@{
    Layout = "_GeneralLayout";
    var vacancies = ViewData["vacancies"] as IList<Core.ViewModels.VacancyViewModel> ?? new List<Core.ViewModels.VacancyViewModel>();
}

@section head{
    @RenderSection("head",  required: false)
}

@section top{
    @RenderSection("top",  required: false)
}

<div class="col-md-8">
    @RenderBody()
</div>
<div class="col-md-4">

    <div class="fb-page"
         data-href="https://facebook.com/dncuug"
         data-width="380"
         data-hide-cover="false"
         data-show-facepile="false">
    </div>

    <div class="ad">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- dot-net.in.ua right side ad -->
        <ins class="adsbygoogle"
             style="display: block"
             data-ad-client="ca-pub-9437162291368173"
             data-ad-slot="5581239879"
             data-ad-format="auto">
        </ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="ad">
        <a href="/content/cloud-developers-days">
            <img src="/images/banners/cloud_developerdays_poland_2018_1.jpg"/>
        </a>
    </div>

    @if (vacancies.Any())
    {
        <div class="vacancies">
            <h3>Hot Vacancies</h3>
            @foreach (var v in vacancies)
            {
                @Html.Partial("_VacancySmallPreview", v)
            }
            <a href="/vacancies/1"> View all vacancies</a>.
        </div>
    }
</div>