<div class="in-feed-ad">
    <script type="text/javascript">
        (function (v,i){
            var source = 'https://test-mobile.viewster.com/ad-unit/source.js',
                config = {
                    ChannelID: '59c4d02d28a06117d405b228',
                    AdUnitType: '2',
                    PublisherID: '225216805684543',
                    PlacementID: '225216805684543',
                    DivId: '',
                    IAB_Category: 'IAB19',
                    Keywords: 'net,c sharp,asp.net,software development,microsoft,mono,visual studio',
                    Language: 'en-us',
                    BG_Color: '',
                    Text_Color: '',
                    Font: 'Tahoma, Geneva, sans-serif',
                    FontSize: '',
                    vioptional1: '',
                    vioptional2: '',
                    vioptional3: '',
                },
                b=v.body||v.documentElement.appendChild(v.createElement('body')),scr=v.createElement('script');scr.src=source,
                scr.async=!0,scr.onload=function(){i.vi.run(config,void 0===v.currentScript?v.scripts[v.scripts.length-1]:v.currentScript,source)},b.appendChild(scr);
        })(document,window)</script>
</div>