<div class="in-feed-ad">
    <script type="text/javascript">
      (function (v,i) {
        var scp = v.createElement("script"),
        config = {
          ChannelID: '59c4d02d28a06117d405b228',
          AdUnitType: '2',
          PublisherID: '225216805684543',
          PlacementID: 'pltHbyFa22eqMnRIDUB',
          DivID: 'side-video',
          IAB_Category: 'IAB19',
          Keywords: 'net,c sharp,asp.net,software development,microsoft,mono,visual studio',
          Language: 'en-us',
          BG_Color: '',
          Text_Color: '',
          Font: 'Tahoma, Geneva, sans-serif',
          FontSize: '',
        };
        scp.src='https://s.vi-serve.com/tagLoader.js';
        scp.type = "text/javascript";
        scp.onload = function() {
          i[btoa('video intelligence start')].init(config);
        };
        (v.getElementsByTagName('head')[0] || v.documentElement.appendChild(v.createElement('head'))).appendChild(scp);
      })(document, window);
    </script>
</div>

