@using Core.Models
@model Core.Models.Link
<div class="social-buttons">
    <a class="btn btn-social-icon btn-twitter" target="blank" href="https://twitter.com/home?status=@Model.Url"><span class="fa fa-twitter"></span></a>
    <a class="btn btn-social-icon btn-facebook" target="blank" href="https://facebook.com/sharer/sharer.php?u=@Model.Url"><span class="fa fa-facebook"></span></a>
    <a class="btn btn-social-icon btn-google" target="blank" href="https://plus.google.com/share?url=@Model.Url"><span class="fa fa-google"></span></a>
    <a class="btn btn-social-icon btn-linkedin" target="blank" href="https://linkedin.com/shareArticle?mini=true&url=@Model.Url&title=@Model.Title"><span class="fa fa-linkedin"></span></a>    
    <a class="btn btn-social-icon btn-reddit" target="blank" href="https://www.reddit.com/submit?url=@Model.Url&title=@Model.Title"><span class="fa fa-reddit"></span></a>
</div>