@model Core.ViewModels.VacancyViewModel

<div>
    <h4>@Model.Title</h4>
    <span>@Model.Description</span>
    <br /><br />
    <div class="row">
        <div class="col-md-6 text-left"> 
            <span class="label category-label label-default">@Model.Category.Name</span> 

            @if (Model.Hot){
                <span class="label label-warning">This week</span> 
            }

            @if (Model.Fresh){
                <span class="label label-danger">Today</span> 
            }                               
        </div>
        <div class="col-md-6 text-right"> 
            <a class="btn btn-default" href="@Model.ShareUrl">Details...&nbsp;<i class="glyphicon glyphicon-eur"></i></a>
        </div>
    </div>
</div>        