@model string

<div class="youtube-container">
    <iframe class="video" src="@Core.YouTube.GetEmbededUrl(Model)" frameborder="0" allowfullscreen>
    </iframe>
</div>


<iframe src="https://channel9.msdn.com/Shows/This+Week+On+Channel+9/TWC9-Mixed-Reality-NET-IL-Linker-New-WinDbg-Where-the-Surface-Comes-to-Life-and-more/player" width="960" height="540" allowFullScreen frameBorder="0"></iframe>

