/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel {
    height: 350px;
}

.carousel-indicators {}

.carousel-indicators li {
    background-color: #000 !important;
    border-radius: 0 !important;
    width: 20px !important;
    height: 3px !important;
    border: none !important;
    margin: 0 !important;
}

.carousel-indicators .active {
    color: #d53b07 !important;
    background-color: #d53b07 !important;
}

.carousel-caption {
    z-index: 10;
    right: 20px !important;
    left: 20px !important;
    /* Since positioning the image, we need to help out the caption */
    text-shadow: none !important;
    bottom: auto !important;
}

.carousel-caption .label-default {
    font-size: 7pt;
}


/* Declare heights because of positioning of img element */

.carousel .item {
    height: 350px;
}

.carousel-control {
    width: auto !important;
}

.category {
    padding: 3px;
    box-decoration-break: clone;
}

.category-1 {
    background-color: #662079 !important;
    color: #FFF;
}

.category-2 {
    background-color: #6296d0 !important;
    color: #FFF;
}

.category-3 {
    background-color: #4972b0 !important;
    color: #FFF;
}

.category-4 {
    background-color: #e08244 !important;
    color: #FFF;
}

.category-5 {
    background-color: #4fac5b !important;
    color: #FFF;
}

.category-6 {
    background-color: #d53b07 !important;
    color: #FFF;
}

.category-7 {}

.carousel-control .glyphicon {
    text-shadow: none;
}

.carousel-control .glyphicon {
    color: #000;
}

.carousel-control.left {
    background-color: #FFF;
    background-image: none !important;
}

.carousel-control.right {
    background-color: #FFF;
    background-image: none !important;
}

.carousel-caption p {
    color: #000;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0;
    /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */


/* RESPONSIVE CSS
-------------------------------------------------- */

@media only screen and (max-width: 414px) {
    .carousel-caption p {
        font-size: 9pt;
    }
    .carousel-caption h3 {
        font-size: 12pt;
    }
    .carousel,
    .carousel .item {
        height: 400px;
    }
}

@media (min-width: 768px) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 1em;
        line-height: 1.4;
    }
}