html, body {
    background: rgb(21, 32, 43) !important;
    color: #CCC;
}

h1, h2, h3, h4, h5, .navbar .navbar-brand, .navbar .navbar-nav > li > a, footer, footer a,
.vacancies h3 a, .publication-preview h3 a {
    color: #CCC !important;
}

.dropdown-menu {
    background: #555 !important;
}

.dropdown-menu > li > a {
    color: #999 !important;
}

.dropdown-menu > li > a:focus, 
.dropdown-menu > li > a:hover, 
.nav > li > a:focus, 
.nav > li > a:hover {
    color: #FFF !important;
}

.pagination > li.active > a, 
.pagination > li.active > span {
    background: #555 !important;
}

.pagination > li > a, .pagination > li > span {
    background: #222 !important;
}

.pagination > li.active > span {
    color: #FFF !important;
}

.pagination > li > a:hover, 
.pagination > li > span:hover, 
.pagination > li > a:focus, 
.pagination > li > span:focus {
    color: FFF;
}

.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
    color: FFF !important;
}

.pagination > li > a, 
.pagination > li > span{
    color: #777 !important;
}

.pagination > li > a:hover, 
.pagination > li > span:hover{
    color: #FFF !important;
}

.nav .open > a, 
.nav .open > a:focus, 
.nav .open > a:hover {
    background: rgb(21, 32, 43) !important;
}