.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    font-family: 'Ubuntu', sans-serif;
    color: #FFF !important;
    display: table;
    font-size: 1.3em !important;
    background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
.navbar .navbar-brand,
.navbar .navbar-nav>li>a,
footer,
footer a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #000;
}

.social-link {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.social-link .fa {
    color: #FFF;
    font-size: 2.0em;
    margin-right: 15px;
}

.social-link a {
    text-transform: uppercase;
    color: #FFF;
}

.social-link a:hover {
    text-decoration: none;
}

.link-fb {
    background-color: #3b5998;
}

.link-github {
    background-color: #000;
}

.link-twitter {
    background-color: #1da1f2;
}

.navbar-toggle .icon-bar {
    background-color: #662079;
}

.label {
    border-radius: 0;
}

.navbar {
    margin-top: -1px;
    margin-left: -1px;
}

.navbar .dropdown-menu li,
.navbar .navbar-nav>li>a {
    text-transform: uppercase;
}

.navbar-fixed-top {
    background-color: #FFF;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.nav>li>a:focus,
.nav>li>a:hover {
    background: none;
    color: #662079;
}

.navbar-brand {
    font-size: 10pt;
}

.navbar-header {
    background: none;
}

.dropdown-header {
    font-weight: bold;
}

.protocol {
    color: #AeAeAe;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.partner {
    margin-bottom: 45px;
    border-bottom: 1px solid #EEE;
    padding-bottom: 15px;
}

.partner .btn-xs {
    margin-top: 10px;
    display: inline-block;
}

.jumbotron {
    background-size: cover;
    background-position: center top;
    font-weight: 200;
    background-color: #FFF;
}

.jumbotron h1 {
    font-size: 25pt;
}

.jumbotron .social {
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.jumbotron {
    font-family: 'Ubuntu', sans-serif;
}

.jumbotron .container {}

.jumbotron p {
    font-weight: normal;
}

.content {
    min-height: 700px;
    margin-bottom: 40px;
}

.comments {
    margin-top: 15px;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.publication-preview,
.vacancy-preview {
    margin-bottom: 40px;
    text-align: justify;
}

.publication-preview h3 {
    font-size: 3em;
}

.publication-preview .description,
.vacancy-preview .description {
    overflow: hidden;
}

.date {
    margin-bottom: 5px;
    font-style: italic;
    color: #CCC;
    float: left;
}

.views {
    float: right;
}

.publication-preview .image-block {
    padding: 20px;
}

.image-block.inner {
    margin-bottom: 10px;
}

.clear {
    clear: both;
    ;
}

.publication-preview .image-block img {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #EEE;
}

.share {
    margin-top: 25px;
}

.share .text-right .btn {
    color: #777;
}

.share .text-right .btn-contact {
    color: #FFF;
}

.share .text-right .btn-contact:hover {
    color: #000;
}

.share .text-right .btn:hover {
    color: #333;
}

.publication-preview section,
.vacancy-preview section {
    border-bottom: 1px solid #EEE;
    padding-bottom: 30px;
}

.publication-preview section {
    border-top: none;
}

.gsc-cursor-page {
    height: 34px !important;
    display: inline-block !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 16px !important;
    font-weight: normal !important;
    text-decoration: none !important;
}

.gsc-cursor-current-page {
    color: #FFF !important;
}

.cse form.gsc-search-box,
form.gsc-search-box,
.cse .gsc-control-cse,
.gsc-control-cse {
    padding: 0 !important;
}

footer {
    color: #FFF;
    background: #222;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 25px;
}

footer h4,
footer h5 {
    color: #FFF;
}

footer a {
    color: #FFF;
}

footer a:hover {
    color: #FFF;
}

footer li {
    list-style: none;
    padding-left: 10px;
}

footer ul {
    padding: 0;
    list-style: none;
}

.content {
    margin-top: 25px;
}

.content,
.description {
    font-family: 'Ubuntu', sans-serif;
    font-size: 11pt;
    font-weight: lighter;
}

.pagination-container li {
    border: none;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #662079;
}

.pagination>li>a,
.pagination>li>span {
    color: #662079;
    border: none;
    font-size: 12pt;
    font-weight: normal;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    color: #662079;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: 0;
}

.ad {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #EEE;
    padding: 20px;
}

.ad img {
    width: 100%;
}

.category-label {
    background: #662079;
    color: #FFF;
}

.youtube-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.youtube-container .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.social-icons {
    padding: 0;
}

.social-icons li {
    display: inline-block;
    font-size: 45pt;
    padding-right: 20pt;
}

.social-icons a {
    text-decoration: none;
}

.social-icons a:hover {
    text-decoration: none;
    color: #000;
}

.btn-social-icon {
    border: none;
}

.btn,
.btn-social-icon {
    border-radius: 0;
}

.channel-preview {
    border: 1px solid #EEE;
    margin-bottom: 20px;
}

.channel-preview .col-md-3 {
    padding-left: 0;
    padding-right: 0;
}

.channel-preview .text-right {
    padding-top: 35px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 414px) {
    #navbar {
        text-align: center;
    }
    .navbar-nav {
        border-bottom: 1px solid #AAA;
    }
    .publication-preview h3 {
        font-size: 2em;
    }
    .share .btn-default,
    .share .btn-success {
        width: 100%;
        margin-top: 10px;
    }
    .social-buttons {
        text-align: center;
    }
    .social-link {
        display: none !important;
    }
    .nav>li.mobile-hidden {
        display: none;
    }
    footer,
    footer .text-right {
        text-align: center;
        font-size: 9pt;
    }
    footer img {
        display: none;
    }
    .social-icons li {
        font-size: 50pt;
        padding-right: 15pt;
    }
    .jumbotron h1 {
        font-size: 18pt;
    }
}

.panel-default {
    border-radius: 0px;
}

.gitter-chat-embed {
    z-index: 9999;
}

.founder {
    border: none;
}

.vacancies div a {
    vertical-align: middle;
}

.vacancies .label {
    vertical-align: middle;
    display: inline-block;
    margin-top: 10px;
}

.vacancy-small-preview {
    font-size: 10pt;
    padding: 20px;
    border-bottom: 1px solid #EEE;
    margin-bottom: 10px;
    text-align: justify;
}

.in-feed-ad {
    border: 1px solid #EEE;
    margin-bottom: 40px;
}

.profile-card {
    width: 100%;
}

.profile-card h1 {
    font-size: 12pt;
    font-weight: bold;
}