@model Core.ViewModels.PublicationViewModel

<div class="container">
    <div class="row post">
        <div class="col-md-12">

            <h1>Добавить ссылку</h1>

            <form>
                <div class="form-group">
                    <label for="link">Ссылка</label>
                    <input type="url" class="form-control" id="link" placeholder="Url">
                </div>
                <div class="form-group">
                    <label for="security-key">Ключ</label>
                    <input type="password" class="form-control" id="security-key" placeholder="Security Key">
                </div>
                <div class="form-group">
                    <label for="category-id">Категория</label>
                    <select class="form-control" id="category-id">
                        <option value="1">.NET Core</option>
                        <option value="2">Xamarin</option>
                    </select>
                </div>
                <button type="button" id="add-post" class="btn btn-default">Добавить</button>
            </form>

            <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                    crossorigin="anonymous"></script>

            <script>
                $("#add-post").click(function () {
                    addNewPost();
                });

                function addNewPost() {
                    debugger;
                    var link = $("#link").val();
                    var key = $("#security-key").val();
                    var categoryId = $("#category-id").val();

                    var url = '/api/publications/new?url=' + link + '&key=' + key & '&categoryId=' + categoryId;

                    $.get(url,
                        function(data) {
                            debugger;
                            window.location.replace(data.shareUrl);
                        }).done(function() {

                    }).fail(function(err) {
                        if (!!err && err.status == 403)
                            alert('Неверный ключ');
                        else
                            console.error(err);
                    });
                }

            </script>

        </div>
    </div>
</div>