@using X.PagedList.Mvc.Core;
@using Microsoft.AspNetCore.Mvc.Rendering
@model WebSite.ViewModels.PublicationListViewModel

@if (Model.CategoryId.HasValue)
{
    <h1><span class="protocol">stream://&nbsp;</span>@Model.CategoryName</h1>
    <br />
}

@for (var i = 0; i < Model.List.Count(); i++)
{
    @await Html.PartialAsync("_Publication", Model.List[i])

    if (i == 2)
    {
        @await Html.PartialAsync("_InFeedAd")
    }
}

@if (Model.CategoryId != null)
{
    @Html.PagedListPager(Model.List, page => $"/page/{page}?categoryId={Model.CategoryId}")
}
else
{
    @Html.PagedListPager(Model.List, page => $"/page/{page}")
}
