@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<WebSite.ViewModels.VacancyViewModel>

@{
    var categoryId = ViewBag.CategoryId as int?;
}

<h1>Job</h1>
We're prepared best vacancies for specialists which deal with cross platform software development, cloud technologies,
data science, mobile development. For talented engineers who want find work around the world!<br />

<br />

@foreach (var v in Model)
{
    @await Html.PartialAsync("_Vacancy", v)
}

@if (categoryId != null)
{
    @Html.PagedListPager(Model, page => $"/vacancies/{page}?categoryId={categoryId}")
}
else
{
    @Html.PagedListPager(Model, page => $"/vacancies/{page}")
}
