@using X.PagedList.Mvc.Core;
@using Microsoft.AspNetCore.Mvc.Rendering
@model WebSite.ViewModels.VacancyListViewModel 

<h1>Job</h1>
We're prepared best vacancies for specialists which deal with cross platform software development, cloud technologies,
data science, mobile development. For talented engineers who want find work around the world!<br />

<br />

@foreach (var v in Model.List)
{
    @await Html.PartialAsync("_Vacancy", v)
}

@if (Model.CategoryId != null)
{
    @Html.PagedListPager(Model.List, page => $"/vacancies/{page}?categoryId={Model.CategoryId}")
}
else
{
    @Html.PagedListPager(Model.List, page => $"/vacancies/{page}")
}
