@model Core.ViewModels.PublicationViewModel
@{
    ViewData["Title"] = "Add new publication";
}

<h1>Admin panel</h1>

<a class="btn btn-default col-md-12 col-xs-12" href="/admin/post/create">
    <i class="glyphicon glyphicon glyphicon-pencil"></i>&nbsp;Create Post
</a>
<br />
<br />
<a class="btn btn-default col-md-12 col-xs-12" href="/admin/vacancy/create">
    <i class="glyphicon glyphicon glyphicon-pencil"></i>&nbsp;Create Vacancy
</a>
<br />
<br />