@model WebSite.ViewModels.PublicationViewModel
@{
    Layout = "_GeneralLayout";
    ViewBag.Title = "Add new publication";
}

<div class="row">
    <div class="col-md-12">
        <h1>Admin panel</h1>
    
        <a class="btn btn-default col-md-12 col-xs-12" href="/admin/post/create">
            <i class="glyphicon glyphicon glyphicon-pencil"></i>&nbsp;Create Post
        </a>
        <br />
        <br />
    </div>
</div>